# Dependencias
node_modules
dist
.next

# Variables de Entorno (Monorepo)
.env
.env.local
Datanexus/.env
frontend/studio/.env
frontend/studio/.env.local

# IDEs
.vscode
.idx
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
